body{
  background-image: url('marco.svg') ;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color:#ffffff;
  background-size: cover; }
  
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 40%;
    left: 40%;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 80%;
  }


